body {
  background-color: #f0db4f;
  font-family: 'Lucida Grande', arial, sans-serif;
}
a {
  color: rgba(0,0,0,0.6);
  transition: color 300ms ease-in-out;
}
a:hover {
  color: rgba(0,0,0,1);
}
div.box {
  text-align: center;
  max-width: 100%;
  width: 800px;
  margin: 0 auto;
}
img.logo {
  margin: 10px 0;
  width: 600px;
  max-width: 100%;
  height: auto;
}

.content-box {
  max-width: 600px;
  margin: 1em auto;
}

.content-box p {
  font-size: 16px;
  line-height: 1.4;
}

form { 
  display: none;
  position: relative;
  width: 100%;
  overflow: hidden;
}
input {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border-color: transparent;
  border-radius: 6px;
  font-size: 20px;
  float: left;
  text-align: center;
  width: calc(100% - 85px);
}
button {
  border: none;
  background: transparent;
  cursor: pointer;
}
button[name="subscribe"] {
  text-transform: uppercase;
  background-color: rgba(255,255,255,0.9);
  color: #000;
  border-radius: 6px;
  border-width: 0px;
  padding: 12px 12px;
  float: right;
  font-size: 24px;
  font-weight: bold;
  width: 80px;
  font-family: "Courier New", "Courier", monospaced;
}

.button-set {
  overflow: hidden;
  padding: 1em 0;
}

a.button.action {
  display: block;
  width: 47.5%;
  margin-right: 5%;
  float: left;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: black;
  color: #fff;
  padding: 1.5em 0;
  position: relative;
  /*transition: all 250ms ease-in-out;*/
}
a.button.action:last-child {
  margin-right: 0;
}
a.button.action:hover {
  /*background-color: #F7CE29;
  color: #000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);*/
  top: -2px;
}
a.button.action:active {
  top: 5px;
}

.our-sponsors h3 {
  border-bottom: 1px solid rgba(0,0,0,0.3);
  padding-bottom: 1em;
  margin: 3em 0 1em; 
}
.our-sponsors a {
  margin-right: 3em;
}
.our-sponsors a:last-child {
  margin-right: 0;
}

div.mce_inline_error { display: none !important; }
input.mce_inline_error { border-color: red; }