<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ metadata.title }} | {{ title | safe }}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link href="/static/css/style.css" rel="stylesheet" />

    <meta
      name="description"
      content="{{ description | safe or metadata.description }}"
    />
    <meta name="og:locale" content="en_US" />
    <meta name="og:type" content="article" />
    <meta name="og:title" content="{{ title }}" />
    <meta
      name="og:description"
      content="{{ description | safe or metadata.description }}"
    />
    <meta name="og:site_name" content="{{ metadata.domain }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta
      name="twitter:description"
      content="{{ description | safe or metadata.description }}"
    />
    <meta name="canonical" href="{{ metadata.url }}{{ page.url }}" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body>
    {% include 'partials/header.html' %}

    <div class="site-body">
      <main id="main" class="site-container">{{ content | safe }}</main>
      {% include 'partials/footer.html' %}
    </div>
  </body>
</html>
