<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ metadata.title }} | {{ title | safe }}</title>

    <link href="/static/css/style.css" rel="stylesheet" />

    {% if description -%}
    <meta name="description" content="{{ description | safe }}" />
    {%- else -%}
    <meta name="description" content="{{ metadata.description }}" />
    {%- endif -%}

    <meta name="og:locale" content="en_US" />
    <meta name="og:type" content="article" />
    <meta name="og:title" content="{{ title }}" />
    <meta
      name="og:description"
      content="{{ description | safe or metadata.description }}"
    />
    <meta name="og:site_name" content="{{ metadata.domain }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta
      name="twitter:description"
      content="{{ description | safe or metadata.description }}"
    />
    <meta name="canonical" href="{{ metadata.url }}{{ page.url }}" />
  </head>
  <body>
    <div class="site">
      <header class="site-header" id="header">
        <layout-wrapper has-content-padding>
          <div class="hero">
            <div class="hero__left">
              <a href="/" aria-label="CCJS homepage">
                <img
                  width="200"
                  height="200"
                  src="/static/images/ccjs-logo.png"
                  alt="CCJS"
                  decoding="async"
                  loading="lazy"
                />
              </a>
            </div>
            <div class="hero__right flow">
              <div class="ccjs">
                <span class="font-light">charm<wbr />City</span><wbr />JS
              </div>
              <nav class="primary-navigation" aria-label="primary">
                <ul role="list" class="flow">
                  <li>
                    <a
                      class="button button--outline"
                      href="{{ metadata.meetup }}"
                      >Events</a
                    >
                  </li>
                  <li>
                    <a
                      class="button button--outline"
                      href="{{ metadata.talks }}"
                      >Submit a Talk</a
                    >
                  </li>
                  <li>
                    <a class="button button--outline" href="/code-of-conduct/"
                      >Code of Conduct</a
                    >
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </layout-wrapper>
      </header>

      <main id="main" class="site-container">{{ content | safe }}</main>
    </div>
  </body>
</html>
