<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ metadata.title }} | {{ title | safe }}</title>

    <link href="/static/css/reset.css" rel="stylesheet" />
    <link href="/static/css/style.css" rel="stylesheet" />

    {% if description -%}
    <meta name="description" content="{{ description | safe }}" />
    {%- else -%}
    <meta name="description" content="{{ metadata.description }}" />
    {%- endif -%}

    <meta name="og:locale" content="en_US" />
    <meta name="og:type" content="article" />
    <meta name="og:title" content="{{ title }}" />
    <meta
      name="og:description"
      content="{{ description | safe or metadata.description }}"
    />
    <meta name="og:site_name" content="{{ metadata.domain }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta
      name="twitter:description"
      content="{{ description | safe or metadata.description }}"
    />
    <meta name="canonical" href="{{ metadata.url }}{{ page.url }}" />
  </head>
  <body>
    <header class="l-header" id="header">
      <a class="c-banner--linked" href="/">
        <img
          src="/static/images/ccjs-banner.png"
          alt="charmCityJs"
          decoding="async"
          loading="lazy"
        />
      </a>
      <nav aria-label="primary">
        <ul class="c-primary-navigation">
          <li>
            <a href="{{ metadata.meetup }}">See Our Events</a>
          </li>
          <li>
            <a href="{{ metadata.talks }}">Submit a Talk</a>
          </li>
          <li>
            <a href="/code-of-conduct/">Code of Conduct</a>
          </li>
        </ul>
      </nav>
    </header>

    <main id="main" class="o-container">{{ content | safe }}</main>

    <footer class="l-footer" id="footer">
      <h2>Our Sponsors</h2>
      <article id="sponsors">
        <a href="https://sparkpost.com">
          <img
            class="responsive-image"
            src="/static/images/sponsors/sparkpost-logo_whitebg-a100_bordered_120x70.png"
            alt="SparkPost"
          />
        </a>
        <a href="http://tenon.io">
          <img
            class="responsive-image"
            src="/static/images/sponsors/tenonio.jpeg"
            alt="Tenon.io"
          />
        </a>
        <a href="http://advertising.com">
          <img
            class="responsive-image"
            src="/static/images/sponsors/ad.com.jpeg"
            alt="Advertising.com"
          />
        </a>
      </article>
    </footer>
  </body>
</html>
