* {
  box-sizing: border-box;
}

body {
  background-color: RGBA(241, 239, 229, 1.00);
  font-family: 'Roboto', arial, sans-serif;
  font-size: 100%;
}

h1 {
  font-size: 2.2em;
  margin: 1.5em 0 0.5em;
}

p {
  font-size: 1.4em;
  line-height: 1.4;
}

a {
  color: rgba(0,0,0,0.6);
  transition: color 300ms ease-in-out;
}

a:hover {
  color: rgba(0,0,0,1);
}

.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

img.logo {
  margin: 0 auto;
  margin-top: 10px;
  width: 600px;
}

.slack-button {
  border: solid 10px red;
  display: block;
}

.responsive-image {
  max-width: 100%;
  display: table-cell;
  height: auto;
}

.omgyay {
  margin: 1rem 0 0.5rem;
}

.content-box {
  padding: 0 0.5rem;
}

.center-box {
  max-width: 600px;
  margin: auto;
}

.center-box p {
  font-size: 22px;
  line-height: 1.4;
}

form {
  display: none;
  position: relative;
  width: 100%;
  overflow: hidden;
}

input {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border-color: transparent;
  border-radius: 6px;
  font-size: 20px;
  float: left;
  text-align: center;
  width: calc(100% - 85px);
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

button[name="subscribe"] {
  text-transform: uppercase;
  background-color: rgba(255,255,255,0.9);
  color: #000;
  border-radius: 6px;
  border-width: 0px;
  padding: 12px 12px;
  float: right;
  font-size: 24px;
  font-weight: bold;
  width: 80px;
  font-family: "Courier New", "Courier", monospaced;
}

section.organizers .grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section.organizers figure {
  margin: 0 0 3em;
  text-align: center;
  max-width: 47.5%;
}

section.organizers figure img {
  max-width: 100%;
}

section.organizers figcaption {
  display: block;
  font-size: 24px;
  margin-top: 0.5em;
}

#primary-navigation, .sponsor-images {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  list-style-type: none;

  margin: 0;
  padding: 0;
  width: 100%;
}

#primary-navigation li {
  text-transform: uppercase;
  text-align: center;
}

footer {
  padding-bottom: 10em;
}

@media only screen and (min-width : 768px) {

  #primary-navigation, .sponsor-images {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

}

@media only screen and (min-width: 500px) {

  section.organizers figure {
    max-width: 31%;
  }

}

#primary-navigation li {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-size: 14px;
  font-weight: bold;
  margin: 0.2rem;
  padding: 0;
}

#primary-navigation a {
  background: RGBA(0, 0, 0, 0.8);
  transition: background 250ms ease-in-out;
  font-weight: 100;
  color: #FFF;
  display: block;
  height: 100%;
  padding: 1em;
  text-decoration: none;
}

#primary-navigation a:hover {
  background-color: black;
}

.our-sponsors {
  text-align: center;
}

.our-sponsors h3 {
  border-bottom: 1px solid rgba(0,0,0,0.3);
  padding-bottom: 1em;
  margin: 2em 0 1em;
}

.sponsor-images {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;

  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.sponsor-images a {
  display: inline-block;
  margin-bottom: 1rem;
}

div.mce_inline_error { display: none !important; }
input.mce_inline_error { border-color: red; }

/* Code of Conduct */
.code-of-conduct ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.code-of-conduct li {
  margin-bottom: 0.8rem;
}

/* Utility Selectors */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}